ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  margin: 0 15px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (min-width: 1600px) {
  body {
    padding-top: 80px;
    margin: 0;
  }
}

h2,
h3 {
  display: block;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #212121;
}

p {
  color: #757575;
  margin: 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.is-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
  overflow: scroll;
  pointer-events: visible;
}

header {
  position: relative;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #ececec;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 85px;
}

.logo-part1 {
  color: #2196f3;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.menu-button {
  background-color: transparent;
  border: 0;
}

.menu-button.is-open .menu-close-icon {
  display: block;
}

.menu-button.is-open .menu-open-icon {
  display: none;
}

.menu-close-icon {
  display: none;
}

.menu-button-icon {
  width: 40px;
  height: 40px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button-icon:hover, .menu-button-icon:focus {
  fill: #2196f3;
}

.header-menu-container {
  position: absolute;
  width: 100%;
  top: 61px;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.header-menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.envelope {
  width: 18px;
  height: 11px;
}

.smartphone {
  width: 18px;
  height: 15px;
}

.navigation-item {
  position: relative;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 40px;
}

.navigation-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.navigation-item:hover, .navigation-item:focus {
  color: #2196f3;
}

.navigation-item.current {
  color: #2196f3;
}

.navigation-item.current.navigation-item::after {
  opacity: 1;
}

.contact-links,
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link-item:hover, .contact-link-item:focus {
  color: #2196f3;
}

.contact-link-icon {
  display: block;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  header {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .navigation {
    height: 80px;
    max-width: 1200px;
    width: 100%;
  }
  .main-navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-navigation .navigation-item {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    margin: 0;
  }
  .main-navigation .item:not(:last-child) {
    margin-right: 50px;
  }
  .contact-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-links .item + .item {
    margin-top: 10px;
  }
  .header-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .contact-link-item {
    margin-top: 0;
    font-size: 12px;
  }
  header {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  header {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
    width: 100%;
  }
  .contact-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-links .item + .item {
    margin-top: 0;
    margin-left: 30px;
  }
  .contact-link-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
    font-size: 14px;
  }
}

.footer {
  margin-top: 94px;
  width: 100%;
  background: #2f303a;
}

.footer .container {
  padding-top: 45px;
  padding-bottom: 21px;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-email {
  width: 380px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;
  color: #ffffff;
  padding: 15px 16px;
}

.footer-logo {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.18;
  color: #ffffff;
}

.contacts {
  margin-right: 64px;
  padding-right: 15px;
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 2.36;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: none;
}

.adress span {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social-media-list li + li {
  margin-left: 10px;
}

.social-media-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list .item:hover, .social-media-list .item:focus {
  background-color: #2196f3;
}

.social-media-list .item:hover .social-links-icon,
.social-media-list .item:focus .social-links-icon {
  fill: #ffffff;
}

.social-links-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-links .title-white,
.subscribe .title-white {
  margin-bottom: 20px;
}

.subscribe {
  margin-left: auto;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.submitt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.submitt-icon {
  margin-left: 10px;
  height: 24px;
  width: 24px;
}

.title-white {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/*# sourceMappingURL=portfolio.css.map */