@import './utilites/variables';
@import './utilites/placeholders';
@import './utilites/mixins';
@import './utilites/general';
@import './components/header';
@import './components/hero';
@import './components/advantages';
@import './components/footer';
@import './components/our-clients';
@import './components/our-team';
@import './components/scope-of-business';
@import './components/modal';
