html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

:root {
  --primary-text-color: #757575;
  --title-nav-color: #212121;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --focus-color: #2196f3;
  --body-padding: 80px;
}

/* General styles */

body {
  padding-top: var(--body-padding);
  font-weight: 400;
  font-family: Roboto, sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
}

h2, h3 {
  display: block;
  margin: 0;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: var(--title-nav-color);
}

p {
  color: var(--primary-text-color);
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--primary-white-color);
  width: 100%;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

/* Header styles */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.main-navigation {
  display: flex;
  margin-left: 85px;
}

.main-navigation .item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: $logofont;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-nav-color);
}

.logo-part1 {
  color: var(--focus-color);
}

.navigation-item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-nav-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  background-color: var(--focus-color);
  border-radius: 2px;
}

.navigation-item.current.navigation-item::after {
  opacity: 1;
}

.contact-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-links .item+.item {
  margin-left: 30px;
}

.contact-link-item {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item:hover, .contact-link-item:hover, .navigation-item:focus, .contact-link-item:focus {
  color: var(--focus-color);
}

.contact-link-icon {
  margin-right: 8px;
  fill: currentColor;
}

.envelope {
  width: 18px;
  height: 11px;
}

.smartphone {
  width: 10px;
  height: 15px;
}

/* Кнопка героя */

.order-service {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/body/pictures/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-text-color);
  width: 1600px;
  height: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.order-service-container {
  display: block;
}

.order-service-link {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  margin-top: 30px;
  padding: 10px 32px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--focus-color);
  color: var(--primary-white-color);
}

.order-service h1 {
  margin: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Our advantages section */

.advantages, .scope-of-business, .our-team, .our-clients, .footer {
  margin-top: 94px;
}

.advantages-list {
  display: flex;
}

.advantages-list .item {
  width: calc((100%-90px) / 4);
}

.advantages-list .item:not(:last-child) {
  margin-right: 30px;
}

.advantages h3 {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages-icon-container {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

/* Scope of business section */

.scope-of-business h2, .our-team h2, .our-clients h2 {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.activities {
  display: flex;
}

.activities .item {
  position: relative;
  width: calc((100%-60px) / 3);
}

.activities .item:not(:last-child) {
  margin-right: 30px;
}

.activities img {
  display: block;
}

.item>.title-white {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

.title-white {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Our team section */

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
  text-align: center;
}

.our-team-list {
  display: flex;
  align-items: center;
}

.team-member {
  width: calc((100%-90px) / 4);
  padding-bottom: 35px;
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-member:nth-child(4n) {
  margin-right: 0px;
}

.our-team img {
  display: inline-block;
  margin-bottom: 30px;
}

.our-team h3 {
  margin-bottom: 10px;
}

.our-team p {
  display: inline-block;
  margin-bottom: 16px;
}

.our-team h3, .our-team p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.our-team p {
  font-weight: 400;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links .item:not(:last-child) {
  margin-right: 10px;
}

.social-links .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .item:hover, .social-links .item:focus {
  background-color: var(--focus-color);
}

.social-links-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .item:hover .social-links-icon, .social-links .item:focus .social-links-icon {
  fill: var(--primary-white-color);
}

/* our clients section */

.our-clients {
  text-align: center;
}

.our-clients h2 {
  min-width: 696px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list .item:not(:nth-child(6n)) {
  margin-right: 30px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid var(--focus-color);
}

.client-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .client-logo, .clients-list-link:focus .client-logo {
  fill: var(--focus-color);
}

/* Footer */

.footer {
  width: 100%;
  background: #2f303a;
}

.footer .container {
  padding-top: 45px;
  padding-bottom: 21px;
}

.footer-flex {
  display: flex;
  justify-content: flex-start;
}

.contacts {
  margin-right: 64px;
  padding-right: 15px;
}

.footer-logo {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.18;
  color: var(--primary-white-color);
}

.footer-email {
  padding: 15px 16px;
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 2.36;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: none;
}

.adress span {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.social-media-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-media-list li+li {
  margin-left: 10px;
}

.social-media-list .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list .item:hover, .social-media-list .item:focus {
  background-color: var(--focus-color);
}

.social-links-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list .item:hover .social-links-icon, .social-media-list .item:focus .social-links-icon {
  fill: var(--primary-white-color);
}

.social-media-links .title-white, .subscribe .title-white {
  margin-bottom: 20px;
}

.subscribe {
  margin-left: auto;
}

.subscribe-form {
  display: flex;
  margin-top: 20px;
}

.submitt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
}

.footer-email {
  width: 380px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;
  color: var(--primary-white-color);
}

.submitt-icon {
  margin-left: 10px;
  height: 24px;
  width: 24px;
}

/* Modal window styles */

.modal-backdrop.is-hidden {
  transform: scale(0, 0);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transform: scale(1, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0, 0);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  padding: 40px;
  opacity: 1;
  overflow: scroll;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.modal-close-button>svg {
  margin: auto;
  width: 15px;
  height: 15px;
  fill: var(--primary-black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover.modal-close-button>svg, .modal-close-button:focus .modal-close-button>svg {
  fill: var(--focus-color);
}

.modal-text {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-nav-color);
  margin-bottom: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group {
  position: relative;
  margin-bottom: 28px;
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group svg {
  width: 18px;
  height: 18px;
  fill: var(--title-nav-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group label {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}

.field-descriprion {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group:hover .form-input, .input-group:focus .form-input {
  border: 1px solid var(--focus-color);
}

.input-group:hover .field-descriprion, .input-group:focus .field-descriprion, .form-input:not(:placeholder-shown)~label>.field-descriprion {
  color: var(--focus-color);
  top: -105%;
  left: 0;
}

.input-group:hover svg, .input-group:focus svg, .form-input:not(:placeholder-shown)~label>svg {
  fill: var(--focus-color);
}

.comment-container {
  position: relative;
  margin-bottom: 20px;
}

.comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-label {
  position: absolute;
  top: 12px;
  left: 16px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-container:hover .comment, .comment-container:focus .comment, .comment:not(:placeholder-shown) {
  border: 1px solid var(--focus-color);
}

.comment-container:hover .comment-label, .comment-container:focus .comment-label, .comment:not(:placeholder-shown)~.comment-label {
  top: -20px;
  left: 16px;
  color: var(--focus-color);
}

.checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7;
  color: var(--primary-text-color);
}

.checkbox-label::before {
  content: ' ';
  height: 15px;
  width: 16px;
  fill: none;
  background-color: var(--primary-white-color);
  border-radius: 2px;
  border: 2px solid var(--title-nav-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked~.checkbox-label::before {
  fill: var(--primary-white-color);
  background-image: url(../images/body/pictures/check.svg);
  background-color: var(--focus-color);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--focus-color);
}

.licence-agreement {
  color: var(--focus-color);
  text-decoration: underline;
}

.checkbox-button-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-submitt-button {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  padding: 10px 55px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--focus-color);
}

/* Portfolio specific page styles */

/* Buttons */

.filter-list {
  display: flex;
  justify-content: center;
  margin-top: 93px;
}

.button {
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-nav-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: var(--primary-white-color);
  background-color: var(--focus-color);
  cursor: pointer;
}

.filter-list li+li {
  margin-left: 8px;
}

/* List of the projects */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.projects-list h2 {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper img {
  max-width: 100%;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.project-item:nth-child(3n) {
  margin-right: 0px;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-item>a:hover, .project-item>a:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project-item>a:hover .project-description, .project-item>a:focus .project-description {
  transform: translateY(0);
}

.project-text {
  padding: 20px 24px;
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project-type {
  padding-left: 24px;
  padding-right: 24px;
}

/* Temporary styl of project description for visibility */

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}