.portfolio-container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    width: 768px;
  }
  @media screen and (min-width: 1600px) {
    padding: 94px 15px;
    width: 1200px;
  }
}

.filter-list {
  @include display($justify: flex-start, $align: flex-start);
  flex-wrap: wrap;

  li {
    margin-bottom: 15px;
    &:not(:nth-child(3n)) {
      margin-right: 8px;
    }
    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    @include display;
    flex-wrap: nowrap;
  }
}

.button {
  padding: 6px 22px;
  @include generalfont(500, 16px);
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $title-nav-color;
  background-color: $background-color;
  border-radius: 4px;
  border-style: none;
  transition: color 250ms $transition, background-color 250ms $transition;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $focus-color;
    cursor: pointer;
  }
}
