.footer {
  min-width: 480px;
  background: $footer-background;

  &-flex {
    @include display;
    flex-direction: column;
    width: 480px;
    padding: 60px 15px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  &-email {
    display: block;
    width: 450px;
    max-width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: inherit;
    color: $primary-white-color;
    padding: 15px 16px;
  }
  &-logo {
    @include display;
    margin: 0;
    font-size: 24px;
    line-height: 1.18;
    color: $primary-white-color;
  }
}

.adress {
  margin-top: 20px;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 2.36;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: none;

  span {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-white-color;
  }
}

.social-media-links {
  margin-top: 60px;
  text-align: center;
}

.social-media-list {
  @include display;

  li + li {
    margin-left: 10px;
  }

  .item {
    @include display;
    margin-top: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color $transition;

    &:hover,
    &:focus {
      background-color: $focus-color;
    }

    &:hover .social-links-icon,
    &:focus .social-links-icon {
      fill: $primary-white-color;
    }
  }
}
.social-links-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill $transition;
}

.title-white,
.subscribe .title-white {
  margin-bottom: 20px;
}

.subscribe {
  margin-top: 60px;
  text-align: center;

  &-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
}

.submitt {
  @include display;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: $focus-color;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $primary-white-color;
  letter-spacing: 0.06em;

  &-icon {
    margin-left: 10px;
    height: 24px;
    width: 24px;
  }
}
.title-white {
  font-weight: $bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 768px) and(max-width:1599px) {
  .footer-flex {
    min-width: 768px;
  }
  .tablet {
    @include display($align: start, $justify: space-around);
    width: 100%;
  }
  .social-media-links {
    margin: 0;
  }
}

@media screen and (min-width: 1600px) {
  .footer-flex {
    min-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 45px;
    padding-bottom: 21px;
  }
  .tablet {
    @include display($align: start);
  }

  .social-media-links {
    padding-top: 12px;
    display: block;
    text-align: initial;
    margin: 0;
  }

  .contacts {
    margin-right: 69px;
  }

  .footer-logo {
    display: block;
    font-size: 26px;
  }

  .adress {
    text-align: initial;
  }

  .social-media-links .title-white,
  .subscribe .title-white {
    margin-bottom: 20px;
  }

  .subscribe {
    text-align: initial;
    padding-top: 12px;
    margin: 0;
    margin-left: auto;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .footer-email {
    width: 358px;
    margin-right: 12px;
  }

  .submitt {
    margin-top: 0;
  }

  .submitt-icon {
    margin-left: 10px;
    height: 24px;
    width: 24px;
  }
}
