header {
  position: relative;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #ececec;
}

.logo {
  display: flex;
  @include logofont($size: 26px);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $title-nav-color;
  margin-right: 85px;

  &-part1 {
    color: $focus-color;
  }
}

.navigation {
  @include display($justify: space-between);
  width: 100%;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.menu-button {
  background-color: transparent;
  border: 0;

  &.is-open {
    & .menu-close-icon {
      display: block;
    }
    & .menu-open-icon {
      display: none;
    }
  }
}

.menu-close-icon {
  display: none;
}

.menu-button-icon {
  width: 40px;
  height: 40px;
  fill: $title-nav-color;
  transition: fill $transition;

  &:hover,
  &:focus {
    fill: $focus-color;
  }
}

.header-menu-container {
  position: absolute;
  width: 100%;
  top: 61px;
  left: 0;
  display: none;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $primary-white-color;

  &.is-open {
    display: flex;
    z-index: 2;
  }
}

.envelope {
  width: 18px;
  height: 11px;
}

.smartphone {
  width: 18px;
  height: 15px;
}

.navigation-item {
  position: relative;
  @include generalfont($weight: 500, $size: 18px);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-nav-color;
  transition: color $transition;
  margin-bottom: 40px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 0;
    background-color: $focus-color;
    border-radius: 2px;
  }

  &:hover,
  &:focus {
    color: $focus-color;
  }

  &.current {
    color: $focus-color;
  }
  &.current.navigation-item::after {
    opacity: 1;
  }
}

.contact-links,
.main-navigation {
  @include display;
  flex-direction: column;
}

.contact-link-item {
  @include display($justify: flex-start);
  margin-top: 16px;
  @include generalfont($weight: 500, $size: 18px);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  transition: color $transition;

  &:hover,
  &:focus {
    color: $focus-color;
  }
}

.contact-link-icon {
  display: block;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 480px) and(max-width:767px) {
  header {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .navigation {
    height: 80px;
    max-width: 1200px;
    width: 100%;
  }

  .main-navigation {
    flex-direction: row;

    & .navigation-item {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      margin: 0;
    }

    .item:not(:last-child) {
      margin-right: 50px;
    }
  }
  .contact-links {
    @include display($align: flex-start);

    .item + .item {
      margin-top: 10px;
    }
  }
  .header-menu-container {
    @include display($justify: space-between);
    flex-direction: row;
    position: static;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and(max-width:1200px) {
  .contact-link-item {
    margin-top: 0;
    font-size: 12px;
  }

  header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: $primary-white-color;
    width: 100%;
  }

  .contact-links {
    flex-direction: row;
    align-items: center;

    .item + .item {
      margin-top: 0;
      margin-left: 30px;
    }
  }

  .contact-link-item {
    @include display;
    margin-top: 0;
    font-size: 14px;
  }
}
