.order-service {
  @include display;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/body/pictures/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $primary-text-color;
  width: 1600px;
  height: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &-container {
    display: block;
  }

  &-link {
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 200px;
    margin-top: 30px;
    padding: 10px 32px;
    @include generalfont(700, 16px);
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: $focus-color;
    color: $primary-white-color;
  }

  h1 {
    margin: 0;
    @include generalfont(900, 44px);
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}
