.clients-container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    font-size: 28px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .item {
    margin-bottom: 30px;
  }

  // .item:not(:nth-child(2n)) {
  //   margin-right: 30px;
  // }

  &-link {
    @include display;
    border: 1px solid $client-logo-color;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    transition: border $transition;
  }

  &-link:hover,
  &-link:focus {
    border: 1px solid $focus-color;
  }
}

.client-logo {
  fill: $client-logo-color;
  transition: fill $transition;

  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: $focus-color;
  }
}
@media screen and (min-width: 768px) and(max-width:1199px) {
  .clients-container {
    min-width: 768px;
  }
  .clients-list {
    .item {
      margin-right: 30px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .clients-container {
    justify-content: start;
    flex-wrap: nowrap;
    min-width: 1200px;
    padding: 94px 15px;
    h2 {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
  .clients-list {
    .item:not(:nth-child(6n)) {
      margin-right: 30px;
    }
  }
}
