.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $background-color;
  text-align: center;

  h2 {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  img {
    max-width: 100%;
    width: fit-content;
    height: auto;
    display: inline-block;
    margin-bottom: 30px;
  }

  h3 {
    margin-bottom: 10px;
    @include generalfont(500, 16px);
    line-height: 1.18;
    letter-spacing: 0.03em;
  }

  p {
    display: inline-block;
    margin-bottom: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}
.team-container {
  @include display;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.team-member {
  padding-bottom: 35px;
  max-width: 480px;
  margin: 30px 15px;
  overflow: hidden;
  background-color: $primary-white-color;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
}

.social-links {
  @include display($align: stretch);

  .item:not(:last-child) {
    margin-right: 10px;
  }

  .item {
    @include display;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color $transition;
  }

  .item:hover,
  .item:focus {
    background-color: $focus-color;
  }

  &-icon {
    width: 20px;
    height: 20px;
    fill: $client-logo-color;
    transition: fill $transition;
  }

  .item:hover &-icon,
  .item:focus &-icon {
    fill: $primary-white-color;
  }
}

@media screen and (min-width: 768px) and(max-width:1599px) {
  .advantages {
    margin-top: 30px;
    max-width: 768px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-list .item {
    width: calc((100% - 30px * 2) / 2);
    margin: 0;
  }

  .advantages-list .item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
