.clients-container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    font-size: 28px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .item {
    margin-bottom: 30px;
  }

  .item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  &-link {
    @include display;
    border: 1px solid $client-logo-color;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    transition: border $transition;
  }

  &-link:hover,
  &-link:focus {
    border: 1px solid $focus-color;
  }
}

.client-logo {
  fill: $client-logo-color;
  transition: fill $transition;

  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: $focus-color;
  }
}
