.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  h2 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border-width: 1px;
  border-style: solid;
  border-color: $border-color;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  & > a:hover,
  & > a:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
      0 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.project-text {
  padding: 20px 24px;
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  background-color: rgba(33, 150, 243, 0.9);
  border-width: 1px;
  border-style: solid;
  border-color: $border-color;
  transition: transform $transition;

  .project-item > a:hover &,
  .project-item > a:focus & {
    transform: translateY(0);
  }
}
