$primary-text-color: #757575;
$title-nav-color: #212121;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$footer-adress-color: rgba(255, 255, 255, 0.6);
$focus-color: #2196f3;
$background-color: #f5f4fa;
$client-logo-color: #afb1b8;
$footer-backgroung: #2f303a;
$border-color: #eeeeee;
$body-padding: 80px;
$generalfont: Roboto, sans-serif;
$logofont: Raleway, sans-serif;
$bold: 700;
$normal: 400;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
